<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        
        <add id="ThinkOpen_Blog::blog" title="Blog" module="ThinkOpen_Blog" sortOrder="1" resource="Magento_Backend::content"/>

        <add id="ThinkOpen_Blog::manage_post" title="Manage Posts" module="ThinkOpen_Blog" action="blog_admin/post/index" resource="Magento_Backend::content" parent="ThinkOpen_Blog::blog"/>

        <add id="ThinkOpen_Blog::manage_post_grid" title="Manage Posts Grid" module="ThinkOpen_Blog" action="blog_admin/post/grid" resource="Magento_Backend::content" parent="ThinkOpen_Blog::blog"/>

    </menu>
</config>

